.ProductPage{
    height: 100vh;  
    &-content{
        padding-top: 11rem;
        height: 100%; 
        &__info{
            &--options{
                button{
                    height: 4rem;
                    min-width: 4rem;
                    padding: 0 1rem;
                    background: transparent;
                    p{
                        color: white;
                    }
                    &:focus{
                        outline: none;  
                    }
                }
            }
            &--quantity{
                height: 5rem;
                min-width: 4rem;
                width: min-content; 
                padding: 0 1rem;
                background: transparent;
                input{
                    outline: none;
                    border: none;
                    appearance: none;   
                    width: min-content;
                }
                input[type=number]::-webkit-inner-spin-button,
                input[type=number]::-webkit-outer-spin-button {
                  display: none;    
                }
                i{
                    cursor: pointer;
                }
            }
        }
    }              
}

.ActionButton{ 
    height: 5rem;
    min-width: 7rem;
    padding: 0 3rem;    
    background: transparent;
    p{
        color: white;
        white-space: nowrap;    
    }
    &:focus{
        outline: none;  
    }
    &:active{
        background: white;
        p{
            color: black;   
        }
    }
}

.selected{
    p{
        color: black !important;    
    }
    background-color: white !important;
}

.disabled{
    cursor: not-allowed !important; 
    p{
        color: grey !important;   
    }
    border-color: grey !important;  
    &:active{
        background: transparent !important;
        p{
            color: grey !important;   
        }
    }
}