.ProductPage{
    min-height: 100vh;  
    &-content{
        padding-top: 17rem;
        min-height: 100vh; 
        &__info{
            &-title{
                font-size: 5rem;    
                font-weight: 300;
                @include respond(phone){
                    font-size: 8rem;    
                }
            }
            &-subtitle{
                font-size: 3rem;    
                @include respond(phone){
                    font-size: 5rem;    
                }
            }
            &-price{
                font-size: 3rem;        
                @include respond(phone){
                    font-size: 5rem;    
                }
            }
            &-description{
                font-size: 2rem;        
                @include respond(phone){
                    font-size: 4rem;        
                }
            }
            &-options{
                button{
                    height: 4rem;
                    min-width: 4rem;
                    padding: 0 1rem;
                    background: transparent;
                    p{
                        color: white;
                    }
                    &:focus{
                        outline: none;  
                    }
                    @include respond(phone){
                        height: 8rem;
                        min-width: 4rem;
                        padding: 0 2rem;   
                        p{
                            font-size: 5rem;
                            font-weight: 300;
                        }
                    }
                }
            }
            &-quantity{
                height: 50px;     
                min-width: 130px;
                width: min-content; 
                padding: 0 1rem;
                background: transparent;
                font-size: 20px;            
                input{
                    outline: none;
                    border: none;
                    appearance: none;   
                    width: min-content;
                }
                input[type=number]::-webkit-inner-spin-button,
                input[type=number]::-webkit-outer-spin-button {
                  display: none;    
                }
                i{
                    cursor: pointer;
    
                }
            }
            &-actions{
                span, i{
                    font-size: 2rem;
                    @include respond(phone){
                        font-size: 3rem;    
                    }
                }
            }
        }
    }              
}

.ActionButton{ 
    height: 5rem;
    min-width: 7rem;
    padding: 0 3rem;    
    background: transparent;
    p{
        color: white;
        white-space: nowrap; 
        font-size: 2rem;   
    }
    &:focus{
        outline: none;  
    }
    &:active{
        background: white;
        p{
            color: black;   
        }
    }
    @include respond(phone){
        height: 10rem;
        p{
            font-size: 4rem;
        }
    }
}

.selected{
    p{
        color: black !important;    
    }
    background-color: white !important;
}

.disabled{
    cursor: not-allowed !important; 
    p{
        color: grey !important;   
    }
    border-color: grey !important;  
    &:active{
        background: transparent !important;
        p{
            color: grey !important;   
        }
    }
}

.AddedNotification{
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);     
    height: 35rem;  
    width: 30rem;
    background-color: rgb(0, 182, 0); 
    border-radius: 1rem;  
    display: flex;
    justify-content: center;
    align-items: center;
    i{
        font-size: 15rem;
    }  
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .2s
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0
  }