.FeaturedProducts{
    height: min-content;     
    padding: 0 8rem;     
    overflow: hidden;  
    &-slider{
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        &__slide{
            scroll-snap-align: start;        
        }
    }  
}

.Product{  
    height: 50rem;
    width: 32rem;   
    max-height: 500px;  
    max-width: 320px;
    &:hover{
        cursor: pointer;    
    }
    @include respond(phone){
        height: 75rem;
        width: 48rem;       
        max-height: 350px;    
        max-width: 320px;
        h2{
            font-size: 4rem;    
        }
        p{
            font-size: 3rem;
        }
    } 
    &-image{
        img{
            border-radius: .5rem;
            object-fit: cover;  
        }
    }
}